*{
    padding: 0px;
    margin: 0px;;
}
h1{
    text-align: center;
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
fieldset{
    display: flex;
    justify-content: center;
    background-color: rgb(195, 234, 242);
    margin: 5px;
    padding: 10px;
    border: 5px rgb(238, 239, 239) solid;
    width: 600px;
}

form{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

div{
    width: 310px;
    display: flex;
}

label{
    width: 130px;
}

label, input , select{
    margin-top: 5px;
}

input, select{
    border-radius: 3px;
}