body{
    display: flex;
    justify-content: center;
}
div{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    text-align: center;
}

h1{
    border: 1px solid red;
}

button{
    width: 100px;
    height: 100px;
    font-size: 70px;
}